@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Monoton');

#splash-screen{
  background-color: #333333;
}
.dice-screen{
  background-image: url('/img/dice-background.png');
}
#place-bets, #roll-bets{
  background-image: url('/img/dice-buy-rolls-frame.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
	
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.lucky-number{
  font-size: 777%;
  text-shadow: 0 0 20px white, 0 0 40px rgb(66, 226, 244);
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
}

.lucky-number:after {
  content: '';
  display: block;
  margin-left: 35%;
  /*position: absolute;*/
  text-align: center;
  /*bottom: 0;
  left: 0;*/
  width: 30%;
  height: 0.01em;
  box-shadow: 0 0 20px rgb(66, 226, 244);
  background-color: rgba(66, 226, 244, 0.5);
}

.your-number {
  font-size: 777%;
  text-shadow: 0 0 20px white, 0 0 40px rgb(66, 226, 244);
  text-align: center;
  color: #FFFFFF;
  font-weight: 200;
}

/*dice in-game roll statistics*/
@media (min-width: 0px){
  .bet-size{
    text-align: left;
  }
  .current-profit{
    text-align: left;
  }
  .max-rolls{
    text-align: left;
  }
}
@media (min-width: 992px){
  .bet-size{
    text-align: left;
  }
  .current-profit{
    text-align: center;
  }
  .max-rolls{
    text-align: right;
  }
}