.bankroll-text-title{
	font-size: 400%;
	color: #FFFFFF;
}
.bankroll-text-subtitle{
	color: #999999;
}

.bankroll-info-screen{
	/*text-align: center;*/
	background-color: #353535;
}
.btn-danger{
	background-color: #EA5455;
}
.btn-primary{
	background-color: #0397FF;
}