.main-screen{
	background-color: #333333;
  	background-repeat: no-repeat;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 92.5vh;
}

/*buy box css*/
.buy-box-title{
  letter-spacing: 16px;
  text-shadow: 0 0 8px white;
}
@media (max-width: 768px){
  .buy-box-title{
    letter-spacing: 7px;
  }
}

.buy-box-text{
  text-shadow: 0 0 2px white;
  letter-spacing: 4px;
}

.buy-button {
  background: #09d602;
  box-shadow: 0 0 10px rgba(66, 226, 244, 0.9);
  color: white;
  letter-spacing: 12px;
  border-radius: 0px;
}
.buy-button:hover{
  box-shadow: 0 0 1px 4px rgba(66, 226, 244, 0.6);
  text-shadow: 0 0 4px white;
}
/*end buy box css*/

/*game sliders css*/
.game-slider {
	background: #5e5e5e;
}

.game-slider .ui-slider-handle {
  width: 1.5em;
  height: 1.5em;
  top: -5px;
  background-color: #bcbcbc;
  border-radius: 50%;
}

.game-slider .ui-slider-range { 
  background: #FFFFFF;
  box-shadow: 0 0 1px 4px rgba(66, 226, 244, 0.6);
}

.game-slider-text{
  text-shadow: 0 0 5px #D6FFEE;
  font-size: 150%;
  text-align: right;
  position: relative;
  bottom: 15px;
}
/*end game sliders css*/

/*size of bet box css*/
.bet-buttons{
  background: linear-gradient(#D8D8D8, #979797);
  color: white;
  text-shadow: 0 0 1px white;
  border-radius: 0px;
}

.bet-per-play{
  color: white;
  text-align: center;
  letter-spacing: 2px;
  background-color: #5e5e5e;
  border-radius: 0px;
  text-shadow: 0 0 2px #D6FFEE;
  font-size: 100%;
}
/*end of size of bet box css*/

/*game play css*/
.play-game-button-text{
  font-size: 300%;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 8px;
}

.play-game-button{
  background-color: rgb(66, 226, 244);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 20px rgb(66, 226, 244), 0 0 40px rgb(66, 226, 244) !important;
  width: 80%; 
  margin-left: 1em;
}
.play-game-button.disabled{
  box-shadow: 0 0 0 !important;
}

/*end of game play css*/