@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Monoton');

.col-centered{
  float: none;
  margin: 0 auto;
}

.slots-screen{
	background-image: url('/img/slots-background.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 92.5vh;
}

/*place bets box css*/

#place-bets{
  background-image: url('/img/slots-buy-spins-frame.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 50px;
}

#number-spins .ui-slider-handle {
  width: 1.5em;
  height: 1.5em;
  top: -5px;
  background-color: #bcbcbc;
  border-radius: 50%;
}

#number-spins .ui-slider-range { 
  background: #FFFFFF;
  box-shadow: 0 0 1px 4px rgba(66, 226, 244, 0.6);
}

#number-spins{
  background: #5e5e5e;
}

#buy-credits {
  background: #09d602;
  box-shadow: 0 0 10px rgba(66, 226, 244, 0.9);
  color: white;
  letter-spacing: 12px;
  border-radius: 0px;
}

.buy-spins-title{
  letter-spacing: 16px;
  text-shadow: 0 0 8px white;
}

@media (max-width: 576px){
  .buy-spins-title{
    letter-spacing: 8px;
  }
}

.slots-text{
  text-shadow: 0 0 2px white;
  letter-spacing: 4px;
}

.bet-buttons{
  background: linear-gradient(#D8D8D8, #979797);
  color: white;
  text-shadow: 0 0 1px white;
  border-radius: 0px;
}

#current-number-spins{
  text-shadow: 0 0 5px #D6FFEE;
  font-weight: 100;
  font-size: 150%;
  text-align: right;
  position: relative;
  bottom: 15px;
  right: 10px;
}

#bet-per-spin{
  color: white;
  text-align: center;
  letter-spacing: 2px;
  background-color: #5e5e5e;
  border-radius: 0px;
  text-shadow: 0 0 2px #D6FFEE;
  font-size: 100%;
}

/*slots machine css*/

.slots-machine{
  align-content: center;
}

.dial {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: #FFFFFF;
  margin-left: 1em;
  box-shadow: 0 0 30px rgba(66, 226, 244, 0.8);
}

.dial-container  {
  text-align: center;
  overflow: hidden;
  margin-top: -300px;
}

.dial-background {
  position: absolute;
  z-index: 2;
  margin-left: -0.9em;
}

/*media queries deal with the slots machine, buy spins box */

@media (min-width: 0px){
  .dial-container{
    margin-top: -130px;
  }
  .dial-slot {
    height: 65px;
    width: 65px;
  }
  .dial {
    height: 195px;
  }
  .spins-remaining, .total-profit{
    font-size: 60%;
    padding-left: 4em;
  }
  #current-number-spins{
    left: 67vw;
    bottom: 26px;
  }
}
@media (min-width: 460px){
  #current-number-spins{
    left: 0;
    bottom: 15px;
    right: 10px;
  }
}
@media (min-width: 576px){
  .dial-container{
    margin-top: -200px;
  }
  .dial-slot {
    height: 100px;
    width: 100px;
  }
  .dial {
    height: 300px;
  }
  .spins-remaining, .total-profit{
    font-size: 60%;
    padding-left: 5em;
  }
}
@media (min-width: 768px){
  .dial-container{
    margin-top: -250px
  }
  .dial-slot {
    height: 125px;
    width: 125px;
  }
  .dial {
    height: 375px;
  }
  .spins-remaining{
    text-align: left;
    font-size: 65%;
    padding-left: 5em;
  }

  .total-profit{
    text-align: right;
    font-size: 65%;
    padding-right: 4em;
  }
}
@media (min-width: 992px){
  .dial-container{
    margin-top: -350px
  }
  .dial-slot {
    height: 175px;
    width: 175px;
  }
  .dial {
    height: 525px;
  }
  .spins-remaining{
    text-align: left;
    font-size: 100%;
    padding-left: 5.5em;
  }
  .total-profit{
    text-align: right; 
    font-size: 100%;
    padding-right: 4em;
  }
}
@media (min-width: 1200px){
  .dial-container{
    margin-top: -400px
  }
  .dial-slot {
    height: 200px;
    width: 200px;
  }
  .dial {
    height: 600px;
  }
  .spins-remaining{
    text-align: left;
    font-size: 120%;
    padding-left: 5.5em;
  }
  .total-profit{
    text-align: right; 
    font-size: 120%;
    padding-right: 5em;
  }
}

.spin-wheel-text{
  font-size: 300%;
  font-family: 'Monoton', cursive;
  letter-spacing: 8px;
}
.spin-wheel{
  background-color: rgb(66, 226, 244);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 30px rgba(66, 226, 244, 0.8);
  width: 80%; 
  margin-left: 1em;
}
.spin-wheel:hover, #buy-credits:hover{
  box-shadow: 0 0 1px 4px rgba(66, 226, 244, 0.6);
  text-shadow: 0 0 4px white;
}
.spin-wheel.disabled{
  box-shadow: 0 0 0;
}

.score-pop {
  bottom: 10%;
  display: none;
  position: absolute;
  right: 30%;
  text-align: center;
  color: #00d936;
  font-size: 600%;
  z-index: 10;
}