.slots-splash-screen {
	background-color: #333333;
	padding-top: 1em;
	z-index: 1;
}
.slots-text-title{
	font-size: 400%;
	color: #FFFFFF;
}
.stats {
  font-size: 150%;
  color: #FFFFFF;
}
.stats-text{
  	color: #FFFFFF;
}
.slots-screen{
	background-color: #000000;
	height: 90vh;
	/*overflow: hidden;*/
}

/*SLOTS CSS*/
.dial {
  border: 5px solid #D3D3D3;
  border-radius: 10px;
  height: 450px;
  width: 25%;
  overflow: hidden;
  background-color: #FFFFFF;
  margin-left: 1em;
}

.dial-container  {
  /*overflow: hidden;*/
  text-align: center;
  overflow: hidden;
  margin-top: -300px;
}

.spin-text{
  font-size:20px;
  letter-spacing: 2.5px;
  font-family: 'Raleway', sans-serif;
  margin: auto;
}

.score-pop {
  bottom: 10%;
  display: none;
  position: absolute;
  right: 30%;
  text-align: center;
  color: #00d936;
  font-size: 600%;
}

#number-spins-slider-handle {
  width: 2.5em;
  height: 1.6em;
  top: 50%;
  background-color: #42c2f4;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}