.support-body{
	background-color: #333333;
}

.card{
	margin-top: 1em;
	box-shadow: 0 6px 6px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.23);
	border-color: black;
	border-radius: 5px 5px 5px 5px;
}
.card-header{
	background-color: #595959;
	border-radius: 5px 5px 5px 5px;
	
}
.card-body{
	background-color: #7A7A7A;
	border-radius: 0 0 5px 5px;
	color: white;
}

.btn{
	background: rgba(0,0,0,0);
	color: #0397FF;
}
.card-header .collapsed-arrow{
  transition: .5s transform ease-in-out;
}
.card-header .collapsed .collapsed-arrow{
	transform: rotate(180deg);
}